<html>
    <head>
        <title>Luisa blog</title>
    </head>
    <body>
        <h1>Bienvenidos a mi blog</h1>
        <em>Es hermoso</em>
        <h2>Blog nuevo</h2>
        <strong>Es muy agil</strong>
        <h3>Es un blog sobre libros y peliculas</h3>
        <p>Este blog tiene la finalidad de hacer conocer las recomendaciones de lo ultimo en el cine XD</p>
        <p>Hi there!</p>
        <p>It works!</p>
        <a href="https://www.youtube.com/">link</a>
        <ul><li>Youtube</li><li>Facebook</li><li>Instragram</li></ul>
        <div>
            <h1>Bienvenidos a la segunda sección</h1>
            <a href="https://www.youtube.com/">link</a>
        </div>
    </body>
</html>